<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="staleLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
<userSettings>
        <staleLauncher.Properties.Settings>
                <setting name="hideProcesses" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="clearDBErrors" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="deleteClientCache" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="showInTaskbar" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="iconString" serializeAs="String">
                        <value>blue</value>
                </setting>
                <setting name="restartProcesses" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="showTrayIcon" serializeAs="String">
                        <value>False</value>
                </setting>
        </staleLauncher.Properties.Settings>
    </userSettings>
</configuration>
