<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="staleLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
<userSettings>
        <staleLauncher.Properties.Settings>
                <setting name="clearConsoleOnStartup" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="clearDBErrors" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="deleteClientCache" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="showInTaskbar" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="iconString" serializeAs="String">
                        <value>WoW4</value>
                </setting>
                <setting name="restartProcesses" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="showTrayIcon" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="db_user" serializeAs="String">
                        <value />
                </setting>
                <setting name="db_password" serializeAs="String">
                        <value />
                </setting>
                <setting name="db_address" serializeAs="String">
                        <value />
                </setting>
                <setting name="db_port" serializeAs="String">
                        <value />
                </setting>
                <setting name="save_db_info" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="serverPath" serializeAs="String">
                        <value />
                </setting>
                <setting name="authExe" serializeAs="String">
                        <value />
                </setting>
                <setting name="worldExe" serializeAs="String">
                        <value />
                </setting>
                <setting name="hideProcesses" serializeAs="String">
                        <value>True</value>
                </setting>
        </staleLauncher.Properties.Settings>
    </userSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
